@model IEnumerable<ProfileModel> 

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> User Profile Details </h1>
<br />

<div>
    <button type="button">
        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Create">Create a new profile</a>
    </button>

</div>


   <table class="table">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Country</th>
            <th>City</th>
        </tr>
        @foreach (var profile in Model)
        {
            <tr>
                <td>
                    @profile.Name
                </td>
                <td>
                    @profile.Surname
                </td>
                <td>
                    @profile.DateOfBirth.
                </td>
                <td>
                    @profile.Age
                </td>
                <td>
                    @profile.Country
                </td>
                <td>
                    @profile.City
                </td>

                <td> @Html.ActionLink("Edit","Edit", new {id=profile.ID})</td>
            </tr>
        }
    </table>

