@using Graduate_Project.Controllers
@model Graduate_Project.ViewModels.ProfileViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> User Profile Details </h1>
<br />
<div>
    <h2> Name </h2>
        <div> @Model.Profile.Name </div>
    <h2> Surname </h2>
        <div> @Model.Profile.Surname </div>
    <h2> Date of Birth </h2>
        <div> @Model.Profile.DateOfBirth </div>
    <h2> Age </h2>
        <div> @Model.Profile.Age </div>
    <h2> Country </h2>
        <div> @Model.Profile.Country </div>
    <h2> City </h2>
        <div> @Model.Profile.City </div>
</div>